.myProfile {
    display: flex;
    justify-content: center;
  }
  
  .profileContainer {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-description {
    font-size: 16px;
    line-height: 1.5;
  }